@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este é um sistema intranet para controle de devedores do banco Safra S.A. através dos serviços da Solvere.</p>
