@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maceiras Sistemas Ltda.<br />
    São Paulo - SP<br />
    <abbr title="Phone">F:</abbr>
    11 98922-8367
</address>

<address>
    <strong>Supporte:</strong>   <a href="mailto:alexandro@maceiras.com.br">alexandro@maceiras.com.br</a><br />
</address>