@{
    ViewBag.Title = "Ghost";
}

<div class="jumbotron">
    <h1>Ghost</h1>
    <p class="lead">Sistema de controle de devedores.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Saiba mais ...</a></p>
    @*<div class="logoSafra">
        <img src="~/Imagens/LogoSafra.bmp" />
    </div>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Como funciona</h2>
        <p>
            O sistema Ghost lista todos os devedores vindos através do ultimo pacote recebido do banco e assim podemos nele selecionar o que quiser para saber mais.
        </p>
        <p><a class="btn btn-default" href="Home/InfoFunciona">Saiba mais ...</a></p>
    </div>
    <div class="col-md-6">
        <h2>Módulos existentes</h2>
        <p>Dividido em vários módulos de acordo com o que você quer fazer pode-se ir diretamente para selecionar.</p>
        <p><a class="btn btn-default" href="Home/InfoModulos">Saiba mais ...</a></p>
    </div>

</div>